<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="encabezado-carrito">
            <h3>MI CARRITO</h3>
            <a href="/">ELEGIR MÁS PRODUCTOS</a>
        </div>
        <section class="elementos-carrito">
            <div class="titulos">
                <div class="titulo-producto-carrito">PRODUCTOS</div>
                <div>PRECIOS</div>
                <div>CANTIDAD</div>
                <div>SUBTOTAL</div>
            </div>
            <article class="producto">
                <img src="/images/products/new-balance3.png" alt="NEW BALANCE 997" class="miniatura">
                <div class="modelo">NEW BALANCE 997 SPORT CHINESE N.Y / TALLE 36</div>
                <div class="precio-carrito">PRECIO $15.799</div>
                <form action="/productCart" method="GET" class="form-cantidad">
                    <label for="cantidad">u.</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </form>
                <div class="precio-carrito">TOTAL $15.799</div>
                <div class="eliminar">
                    <i class="far fa-times-circle boton-eliminar"></i>
                </div>
            </article>
            <article class="producto">
                <img src="/images/products/vans1.png" alt="vans old skool" class="miniatura">
                <div class="modelo">VANS OLD SKOOL BLACK WHITE / TALLE 40</div>
                <div class="precio-carrito">PRECIO $11.200</div>
                <form action="/productCart" method="GET" class="form-cantidad">
                    <label for="cantidad">u.</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </form>
                <div class="precio-carrito">TOTAL $11.200</div>
                <div class="eliminar">
                    <i class="far fa-times-circle boton-eliminar"></i>
                </div>
            </article>
            <article class="finalizar-compra">
                <form action="productCart" method="GET" class="finalizar-form">
                    <label for="TOTAL">TOTAL $26.999</label>
                    <button type="submit" class="boton-compra">FINALIZAR COMPRA</button>
                </form>
            </article>
            <article class="medios">
                <div class="envios"><i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAIS!</div>

                <div class="medios-pago">
                    <div class="titulo-medios">MEDIOS DE PAGO</div>
                    <img src="/images/medios-pago-varios.png" alt="pagoelectronico" class="imagen-pago">
                    <img src="/images/medios-pago-efectivo.jpg" alt="pagoefectivo" class="imagen-pago2">
                </div>
            </article>
        </section>
        <div class="title">
            <h2 class="linea"><span>DESTACADOS</span></h2>
        </div>

        <section class="recomendados">

            <% for (product of products){ %>
            <% if (product.category=="destacados") { %>
            <article class="recomendado-article a1">
                <a href="/products/<%= product.id %> "><img src="/images/products/<%= product.image %>"
                        alt=<%= product.name %>></a>
                <div class="contenedor-descripcion">
                    <div><%= product.name %></div>
                    <i class="fas fa-arrow-circle-left izarrow"></i>
                    <div class="precio-carrito">$ <%= toThousand(product.price) %></div>
                    <i class="fas fa-arrow-circle-right derarrow"></i>
                </div>
            </article>


            <% } %>

            <% } %>


        </section>

        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer")%>

</body>

</html>