<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="navegacion-de-sitios">
            <ol class="nav-site">
                <li><a href="/">Inicio</a></li>
                <span>></span>
                <li><a href="/products/productsMan">Hombres</a></li>
                <span>></span>
                <li><a href="/products">Calzado</a></li>
            </ol>
        </div>

        <form action="/products/productCart " method="POST">
            <section class="main-article-product">

                <div class="imagen-principal">
                    <img src=<%="/images/products/"+producto.image %> width="100%" alt=<%=producto.name%>
                        class="main-product-image">
                </div>

                <div class="data-principal">
                    <div class="product-body">
                        <h2 class="main-title"><%=producto.name%></h2>
                        <% if (producto.discount) { %>
                        <p class="precio-pd small-detail">
                            <span>$<%= toThousand(producto.price) %></span>
                            /
                            <b><%= producto.discount%>% OFF</b>
                        </p>
                        <p class="precio-pd">
                            $<%= toThousand(producto.price - (producto.price*producto.discount/100)) %>
                        </p>
                        <% } else { %>
                        <p class="precio-pd">
                            $<%= toThousand(producto.price) %>
                        </p>
                        <% } %>

                        <h3 class="talle">Seleccioná tu talle</h3>
                        <div class="talle1">
                            <form action="/talle" class="tallesdisponibles">
                                <% for( let i = 0; i < size.length; i++ ) { %>
                                <%= size[i] %> <input type="radio" name="size" value="<%=size[i]%>"
                                    class="boton-talle">
                                <% } %>
                            </form>
                            <p class="guia-talles"><a href=# class="cfont-talles"><i
                                        class="fas fa-ruler-horizontal"></i>
                                    Guía de talles</a></p>
                        </div>
                        <div class="cantidad1">
                            <p class="cantidad-titulo">Cantidad:</p>
                            <form action="/cantidad" class="cantidaditem">
                                <select name="amount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                        </div>
                        <div class="realizar-compra">
                            <button type="submit" value="Comprar" class="boton-de-compra">Comprar <i
                                    class="fas fa-shopping-basket"></i></button>
                        </div>
        </form>

        <a href="/products/<%= producto.id %>/edit"><button type="button" class="button-edit">EDITAR</button></a>


        <form action="/products/<%=producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
            <button type="submit" class="button-edit button-delete">ELIMINAR</button>
        </form>

        <div class="enviosgratis">
            <p class="envios1"><i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAÍS!</p>
        </div>
        </div>
        </section>

        <h3 class="header-details">Detalles</h3>
        <div class="descripcion">
            <p> <%=producto.description%> </p>
            <!--  
            <ul class="detallesLista1">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
            <ul class="detallesLista2">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
            -->
        </div>

        <h3 class="margin-products">Otros productos que podrian interesarte...</h3>
        <section class="destacados">

            <% for( let i = 0; i < products.length; i++ ) { %>

            <%if (products[i].category_id == 3) { 
                        let finalPrice = products[i].discount ? (products[i].price - products[i].price * products[i].discount / 100 ).toFixed(0)  : products[i].price; %>
            %>
            <article class="recomendado-article a1">
                <a href="/products/<%= products[i].id %> "><img src="/images/products/<%= products[i].image %>"
                        alt=<%= products[i].name %>></a>
                <% if (products[i].discount) { %>
                <span class="discountTag">
                    <i class="fas fa-tags"></i>
                </span>
                <% } %>
                <div class="contenedor-descripcion">
                    <div><%= products[i].name %></div>
                    <% if (products[i].discount) { %>
                    <span class="small">$<%= toThousand(products[i].price) %></span> $<%= toThousand(finalPrice)  %>
                    <p class="descuento"><%- products[i].discount ? `<span>${products[i].discount}% OFF</span>` : '' %>
                    </p>
                    <% } else { %>
                    <div class="precio-carrito">$ <%= toThousand(products[i].price) %></div>
                    <% } %>
                </div>
            </article>

            <% } %>

            <% } %>

        </section>

        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer")%>
</body>

</html>