<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="encabezado-carrito">
            <h3>PRODUCTOS</h3>

        </div>
        <section class="elementos-carrito">
            <% for( let i = 0; i < products.length; i++ ) { %>
            <article class="producto">
                <a class="miniatura" href=<%="/products/productDetail/"+products[i].id %>><img
                        src=<%="/images/"+products[i].image  %> alt=<%= products[i].name %> class="miniaturaB"></a>
                <div class="modelo"><%= products[i].name %></div>
                <div class="precio-carrito">$<%= products[i].price %></div>

            </article>

            <% } %>





    </main>
    <%- include("../partials/footer")%>

</body>

</html>