<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="navegacion-de-sitios">
            <ol class="nav-site">
                <li><a href="/">Inicio</a></li>
                <span>></span>
                <li><a href=#>Hombres</a></li>
                <span>></span>
                <li><a href=#>Calzado</a></li>
            </ol>
        </div>

        <section class="main-article-product">

            <% for( let i = 0; i < products.length; i++ ) { %>
            <% if(parametro==products[i].id){ %>
            <div class="imagen-principal">
                <img src=<%="/images/"+products[i].image%> width="100%" alt=<%=products[i].name%>
                    class="main-product-image">
            </div>

            <div class="data-principal">
                <div class="product-body">
                    <h2 class="main-title"><%=products[i].name%></h2>
                    <p class="precio-pd">$ <%= toThousand(products[i].price) %></p>
                    <% } %>



                    <% } %>


                    <h3 class="talle">Elegi tu talle</h3>
                    <div class="talle1">
                        <p class="guia-talles"><a href=# class="cfont-talles"><i
                                    class="fas fa-ruler-horizontal"></i>Guia de talles</a></p>
                        <form action="/talle" class="tallesdisponibles">
                            <input type="button" name="talle" value="39" class="boton-talle">
                            <input type="button" name="talle" value="40" class="boton-talle">
                            <input type="button" name="talle" value="41" class="boton-talle">
                            <input type="button" name="talle" value="42" class="boton-talle">
                            <input type="button" name="talle" value="43" class="boton-talle">
                            <input type="button" name="talle" value="44" class="boton-talle">
                        </form>
                    </div>
                    <div class="cantidad1">
                        <p class="cantidad-titulo">Cantidad:</p>
                        <form action="/cantidad" class="cantidaditem">
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </form>
                    </div>
                    <div class="realizar-compra">
                        <a href="productCart" class="boton-de-compra">Compra<i class="fas fa-shopping-bag"></i></a>

                    </div>
                    <div class="enviosgratis">
                        <p class="envios1"><i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAÍS!</p>
                    </div>
                </div>
        </section>

        <h3 class="header-details">Detalles</h3>
        <div class="descripcion">
            <ul class="detallesLista1">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
            <ul class="detallesLista2">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
        </div>


        <section class="opciones">
            <h3 class="margin-products">Otros productos que podrian interesarte...</h3>
            <div class="destacados">
                <article class="recomendado-article a1">
                    <a href="/products/6"><img src="/images/adidas2.png" alt="ADIDAS NITE JOGGER 3M NAVY"></a>
                    <div class="contenedor-descripcion">
                        <div>ADIDAS NITE JOGGER 3M NAVY</div>
                        <i class="fas fa-arrow-circle-left izarrow"></i>
                        <div class="precio-carrito">$ 14.000</div>
                        <i class="fas fa-arrow-circle-right derarrow"></i>
                    </div>
                </article>
                <article class="recomendado-article a2">
                    <a href="/products/7"><img src="/images/puma1.png" alt="PUMA RS-X TOYS BONNIE BLUE"></a>
                    <div class="contenedor-descripcion">
                        <div>PUMA RS-X TOYS BONNIE BLUE (W)</div>
                        <i class="fas fa-arrow-circle-left izarrow"></i>
                        <div class="precio">$ 20.000</div>
                        <i class="fas fa-arrow-circle-right derarrow"></i>
                    </div>
                </article>
                <article class="recomendado-article a3">
                    <a href="/products/8"><img src="/images/nike1.png" alt="NIKE AIR MAX 95 OG NEON (2020)"></a>
                    <div class="contenedor-descripcion">
                        <div>NIKE AIR MAX 95 OG NEON (2020)</div>
                        <i class="fas fa-arrow-circle-left izarrow"></i>
                        <div class="precio">$ 26.000</div>
                        <i class="fas fa-arrow-circle-right derarrow"></i>
                    </div>
                </article>
                <article class="recomendado-article a4">
                    <a href="/products/9"><img src="/images/new-balance5.png"
                            alt="NEW BALANCE 327 CASABLANCA GREEN LOGO"></a>
                    <div class="contenedor-descripcion">
                        <div>NEW BALANCE 327 CASABLANCA GREEN LOGO</div>
                        <i class="fas fa-arrow-circle-left izarrow"></i>
                        <div class="precio">$ 21.700</div>
                        <i class="fas fa-arrow-circle-right derarrow"></i>
                    </div>
                </article>
        </section>

        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer")%>
</body>

</html>