<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="navegacion-de-sitios">
            <ol class="nav-site">
                <li><a href="/">Inicio</a></li>
                <span>></span>
                <li><a href=#>Hombres</a></li>
                <span>></span>
                <li><a href=#>Calzado</a></li>
            </ol>
        </div>

        <section class="main-article-product">


            <div class="imagen-principal">
                <img src=<%="/images/products/"+producto.imagenProducto%> width="100%" alt=<%=producto.name%>
                    class="main-product-image">
            </div>

            <div class="data-principal">
                <div class="product-body">
                    <h2 class="main-title"><%=producto.name%></h2>
                    <p class="precio-pd">$<%=toThousand(producto.price)%></p>

                    <h3 class="talle">Seleccioná tu talle</h3>
                    <div class="talle1">

                        <form action="/talle" class="tallesdisponibles">
                            <% for(talle of producto.size){ %>
                            <input type="button" name="talle" value="<%=talle%>" class="boton-talle">
                            <% } %>

                        </form>
                        <p class="guia-talles"><a href=# class="cfont-talles"><i class="fas fa-ruler-horizontal"></i>
                                Guía de talles</a></p>
                    </div>
                    <div class="cantidad1">
                        <p class="cantidad-titulo">Cantidad:</p>
                        <form action="/cantidad" class="cantidaditem">
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </form>
                    </div>
                    <div class="realizar-compra">
                        <a href="productCart" class="boton-de-compra">Comprar <i class="fas fa-shopping-basket"></i></a>

                    </div>

                    <a href="/products/<%= producto.id %>/edit"><button type="button"
                            class="boton-edicion">EDITAR</button></a>

<<<<<<< HEAD
                    
						<form action="/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="boton-edicion">ELIMINAR</button>
						</form>
=======

                    <form action="/products?_method=DELETE " method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-edicion">ELIMINAR</button>
                    </form>
>>>>>>> 0546c906b36612fd1e196e16f2f737071e1eb835

                    <div class="enviosgratis">
                        <p class="envios1"><i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAÍS!</p>
                    </div>
                </div>
        </section>

        <h3 class="header-details">Detalles</h3>
        <div class="descripcion">
            <p> <%=producto.description%> </p>
            <!--  
            <ul class="detallesLista1">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
            <ul class="detallesLista2">
                <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
                <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
                <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA
                    liviana. Amortiguación Adiprene en el talón</li>
            </ul>
            -->
        </div>

        <h3 class="margin-products">Otros productos que podrian interesarte...</h3>
        <section class="destacados">

            <% for (product of products){ %>
            <% if (product.category=="visited") { %>
            <article class="recomendado-article a1">
                <a href="/products/<%= product.id %> "><img src="/images/products/<%= product.imagenProducto %>"
                        alt=<%= product.name %>></a>
                <div class="contenedor-descripcion">
                    <div><%= product.name %></div>
                    <i class="fas fa-arrow-circle-left izarrow"></i>
                    <div class="precio-carrito">$ <%= toThousand(product.price) %></div>
                    <i class="fas fa-arrow-circle-right derarrow"></i>
                </div>
            </article>


            <% } %>

            <% } %>

        </section>

        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer")%>
</body>

</html>