<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main class="auto">
        <h2 class="title">EDITANDO: <%= producto.name %> </h2>
        <form action="/products/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
            class="form">
            <div class="control-formulario1">
                <label for="name">Nombre del producto:</label>
                <input type="text" name="name" id="name" value="<%=producto.name%>" placeholder="Nombre del producto"
                    class="control1" required />
            </div>
            <div class="control-formulario1">
                <label for="description">Detalle del producto:</label>
                <input type="textarea" name="description" id="description" value="<%=producto.description%>"
                    placeholder="Detalle del producto" class="control1" required />
            </div>
            <div class="control-formulario1">
                <label for="imagen">Imagen del producto:</label>
                <input type="file" name="image" />
            </div>
            <div>
                <label for="genre" class="negrita">Genero</label>
                <br>
                <% genres.forEach(genre => { %>
                <input type="radio" name="genre" id="genre" value="<%= genre.id %>"
                    <%= genre.id === producto.genre_id ? "checked":null %>><%= genre.name %>
                <% }) %>
            </div>

            <div class="control-formulario1">
                <label for="brand">Marca</label>
                <select name="brand" id="brand">
                    <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>" <%= brand.id==producto.brands_id ? "selected" : null%>>
                        <%= brand.name %> </option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="size" class="negrita">Talles:</label>
                <br>
                <input type="checkbox" name="size" id="size" value="37"
                    <%= producto.size.includes("37") ? "checked": " " %> />37
                <input type="checkbox" name="size" id="size" value="38"
                    <%= producto.size.includes ("38") ? "checked":" " %> />38
                <input type="checkbox" name="size" id="size" value="39"
                    <%= producto.size.includes ("39") ? "checked":" " %> />39
                <input type="checkbox" name="size" id="size" value="40"
                    <%= producto.size.includes ("40") ? "checked":" " %> />40
                <input type="checkbox" name="size" id="size" value="41"
                    <%= producto.size.includes("41") ? "checked":" " %> />41
                <input type="checkbox" name="size" id="size" value="42"
                    <%= producto.size.includes("42") ? "checked":" " %> />42
                <input type="checkbox" name="size" id="size" value="43"
                    <%= producto.size.includes("43") ? "checked":" " %> />43
                <input type="checkbox" name="size" id="size" value="44"
                    <%= producto.size.includes("44") ? "checked":" " %> />44
                <input type="checkbox" name="size" id="size" value="45"
                    <%= producto.size.includes("45") ? "checked":" " %> />45
                <input type="checkbox" name="size" id="size" value="46"
                    <%= producto.size.includes("46") ? "checked":" " %> />46
            </div>

            <div class="control-formulario1">
                <label for="colors" class="form-label">Color del producto:</label>
                <select name="colors" id="colors" class="form-input">
                    <% colors.forEach(color => { %>
                    <option value="<%= color.id %>" <%= color.id==producto.colors_id ? "selected" : null%>>
                        <%= color.name %> </option>
                    <% }) %>
                </select>
            </div>

            <div class="control-formulario1">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                    <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= category.id==producto.category_id ? "selected" : null%>>
                        <%= category.name %> </option>
                    <% }) %>
                </select>
            </div>

            <div class="control-formulario1">
                <label for="price">Precio:</label>
                <input type="number" name="price" value="<%=producto.price%>" id="price" placeholder="$9999"
                    class="control1" required />
            </div>

            <div class="control-formulario1">
                <label for="discount">Descuento:</label>
                <input type="number" name="discount" value="<%=producto.discount%>" id="discount" placeholder="15"
                    class="control1" />
            </div>

            <br />

            <div class="register-buttons">
                <button type="submit" value="Confirmar" class="confirm-button">Confirmar</button>
                <button type="reset" value="Borrar" class="delete-button">Borrar</button>
            </div>
            <br />
        </form>
    </main>

    <%- include("../partials/footer")%>
</body>

</html>