<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="login-bar auto">
            <h2 class="title">Iniciar Sesión</h2>
            <form action="/users/login" method="POST" class="form">
                <div class="register-formulario">
                    <label for="user" class="obligatorio">* Email</label>
                    <input type="text" name="email" id="user" placeholder="Email..." class="control-login"
                        value=<%= locals.old && old.email? old.email:null  %>>
                    <% if (locals.errors && errors.email) { %>
                    <p class="alert"><%=errors.email.msg%></p>

                    <% } %>
                </div>
                <div class="register-formulario">
                    <label for="password" class="obligatorio">* Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Contraseña..."
                        class="control-login" />
                </div>
                <div class="register-formulario center">
                    <label for="record"></label>
                    <input type="checkbox" name="record" id="record" /> Recuérdame
                    <a href="#">
                        <p class="re-password">¿Olvidaste tu contraseña?</p>
                    </a>
                </div>
                <div>
                    <button type="submit" class="boton-login">INICIAR SESIÓN</button>
                </div>
            </form>
        </div>

        <div class="new-account">
            <p class="italic center re-size padding-top">¿Todavía no tienes cuenta?</p>
            <a href="/users/register">
                <div class="center">
                    <button type="submit" class="submit-button">Crear nueva cuenta</button>
                </div>
            </a>
        </div>

        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>

    <%- include("../partials/footer")%>
</body>

</html>